{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div class="search-container">
    <h1 class="search-text">Explore connected patents</h1>
    <form class="search-form" method="GET" action="{% url 'search' %}">
        <div class = "search">
            <i class="fa fa-search"></i>
            <input class="search-input" type="text" name="query" placeholder="Search for patents">
            <input class="search-button" type="submit" value="Search">
        </div>
    </form>
</div>

{% endblock %}
