{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/signup.css' %}" rel="stylesheet">
</head>
<body>
    <div class="signup-form">
        <form method="POST" class="form-horizontal">
            {% csrf_token %}
            <div class="row">
                <div class="col-8 offset-2">
                    <h2>Sign Up</h2>
                </div>
            </div>
            {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
            {% endif %}
            <div class="form-group row">
                <label class="col-form-label col-4">Name</label>
                <div class="col-8">
                    <input type="text" class="form-control" name="name" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">Username</label>
                <div class="col-8">
                    <input type="text" class="form-control" name="username" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">Email Address</label>
                <div class="col-8">
                    <input type="email" class="form-control" name="email" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">Password</label>
                <div class="col-8">
                    <input type="password" class="form-control" name="password" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">Confirm Password</label>
                <div class="col-8">
                    <input type="password" class="form-control" name="confirm_password" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <p>
                        <label class="form-check-label">
                            <input type="checkbox" required>
                            I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a>.
                        </label>
                    </p>
                    <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
                </div>
            </div>
        </form>
        <div class="text-center">
            Already have an account? <a href="#">Login here</a>
        </div>
    </div>
</body>
</html>
{% endblock %}
